<!DOCTYPE html>
<html>
<head>
<title>{{ website_title }}</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>{{ website_title }}</h1>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>ce cream tiramisu dessert. Cotton candy pastry sugar plum. Powder toffee marshmallow cookie bear claw gingerbread sesame snaps. Candy danish icing. Apple pie chocolate caramels. Icing bear claw sesame snaps candy pie cheesecake fruitcake brownie. Pastry candy canes biscuit marzipan icing brownie halvah. </p>

</body>
</html>
